<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417291351512-jmt53lqk3b1e1362vpq5rlirgmj0qqb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417291351512-jmt53lqk3b1e1362vpq5rlirgmj0qqb8</string>
	<key>API_KEY</key>
	<string>AIzaSyBq5I6Si7DdFijCMChPInBjFaTjvV6g9zo</string>
	<key>GCM_SENDER_ID</key>
	<string>417291351512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apma</string>
	<key>PROJECT_ID</key>
	<string>apma-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>apma-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417291351512:ios:19db36e7156c80b9f66ead</string>
</dict>
</plist>